
#ubicacion {
 
    flex-flow: row wrap;
    justify-content: space-around;
}
#ubicacion h2{
    color: white;
    padding: 20px;
    text-align: center;
    width: 40%;
    margin:  0 auto;
    margin-top: 20px;
    background-color:rgba(26, 145, 243, 0.856);
    box-shadow:  5px 5px rgb(226, 223, 223);
    word-spacing: 5px;
    letter-spacing: 10px;
}

#ubicacion h3{
    box-shadow:  100% blue ;


}